body {
    background-color: #f5f5f5;
}
h1, h2 {
    letter-spacing: 1px;
}
h3, h4 {
    margin: 0 0 10px;
}
a{
	color:#232323;
}
a:hover{
	color:#117864;
}
.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn.active.focus {
    outline: none;
    outline-offset: 0px;
}
.btn {
    border-radius: 50px;
    font-family: Titillium Web;
}
.nav-extra {
    float: right;
}

.greynum {
    color: rgba(0, 0, 0, 0.36);
    float: left;
    line-height: 28px
}
.sidebarWrapper {
	background: #117864; /*#9c2712  #9c27b0*/
	text-align: center;
	height: 100%;
}
.toggle-btn {
    background: #141414 none repeat scroll 0 0;
    text-align: center;
}
.submit-style:focus, .toggle-btn:focus, a, a:focus, a:hover {
    outline: 0 none;
}
.lines::after, .lines::before, .skill-outer h4 span::before {
    content: "";
}
.footer-background, .sidebarWrapper, .social-media, .toggle-btn {
    text-align: center;
}
body {
    color: #3c3c3c;
    font: 300 14px open sans,sans-serif;
    letter-spacing: 0.5px;
    overflow-x: hidden;
}
h1, h2, h3, h4, h5 {
    color: #232323;
	font-family: 'Titillium Web', sans-serif;
}
h1 {
    font: 900 24px/36px "Titillium Web",serif;
    margin: 0 0 15px;
}
h2 {
    font: 200 38px "Titillium Web",serif;
}
h3 {
    font: 900 16px "Titillium Web",serif;
    letter-spacing: 1.5px;
}

h4 {
    font: 900 13px "Titillium Web",serif;
}
p {
    line-height: 24px;
    margin: 0;
}
a, a:focus, a:hover {
    text-decoration: none;
}
.row, li, ul {
    margin: 0;
    padding: 0;
}
li {
    list-style-type: none;
}
.section-title {
    margin-bottom: 50px;
}
 .section-title h2::after {
   background: #117864 none repeat scroll 0 0;
    content: "";
    display: table;
    height: 2px;
    left: 28px;
    position: absolute;
    width: 100px;
} 

.sidebar {
    padding: 0;
    position: relative;
    top: 0;
}
.sidebarWrapper {
    box-shadow: 0 3px 10px 3px rgba(0, 0, 0, 0.3);
    color: #fff;
    padding: 27px 0 0;
}

.user-pic {
    border-radius: 140px;
    width: 80%;
    margin-bottom: 40px;
}
.sidebar .nav {
    padding: 20px 30px;
	background: #fff none repeat scroll 0 0;
    padding: 20px 30px;
}
.toggle-btn {
    cursor: pointer;
    height: 60px;
    line-height: 60px;
    margin: 0;
    width: 100%;
    z-index: 998;
}
.fixed {
    box-shadow: 0 3px 10px 3px rgba(0, 0, 0, 0.3);
    left: 30px;
    position: fixed;
    right: 30px;
    top: 0;
    width: auto;
}
.lines, .lines::after, .lines::before {
    background: #fff none repeat scroll 0 0;
    display: inline-block;
    height: 2px;
    width: 20px;
}
.lines {
    margin: 0;
    padding: 0;
    position: relative;
    vertical-align: middle;
}
.lines::after, .lines::before {
    left: 0;
    position: absolute;
    transition: all 0.2s linear 0s;
}
.sidebar .nav li a, .social-media ul li a {
    transition: all 0.1s linear 0s;
}
.lines::before {
    top: 5px;
}
.lines::after {
    top: -5px;
}
.toggle-close .lines {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
.toggle-close .lines::after, .toggle-close .lines::before {
    top: 0;
    transform-origin: 50% 50% 0;
}
.toggle-close .lines::before {
    transform: rotate3d(0, 0, 1, 45deg);
}
.toggle-close .lines::after {
    transform: rotate3d(0, 0, 1, -45deg);
}
.sidebar .nav li {
    font: 900 13px "Titillium Web",serif;
    padding: 10px 0;
}
.sidebar .nav li a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #232323;
    display: inline-block;
    padding: 0;
    transition: all 0.1s linear 0s;
}
.sidebar .nav li a:hover, .sidebar .nav li.active a {
    color: #117864;
    opacity: unset;
}

.about-background {
    margin-bottom: -50px;
    padding: 25px 0 0;
}
.aboutWrapper {
    padding: 0;
}
.signature {
    text-align: center;
	padding: 9px 0 12px;
}
.signature .img-responsive {
    margin: auto;
}
.skills {
   
    margin-top: 37px;
    width: 50%;
}

.skills-background {
    margin-bottom: -30px;
    padding: 100px 0 0;
}
.skillsWrapper {
    padding: 0;
}
.skill-category {
    margin-bottom: 30px;
}


button.mfp-close {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    color: #fff !important;
    height: 60px;
    line-height: 60px;
    opacity: 1;
    transition: all 0.1s linear 0s;
    width: 60px;
}
button.mfp-close:hover {
    background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
    opacity: 1;
}
.resume-background {
    padding: 100px 0 0;
}
.resumeWrapper {
    padding: 0;
}
.resume-box {
    margin-bottom: 30px;
}
.resume-box:last-child {
    margin: 0;
}
.resume-box div:first-child {
    background: #fff none repeat scroll 0 0;
    border-radius: 50%;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    color: #117864;
    float: left;
    font-size: 29px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    width: 100px;
}
.resume-box div:last-child {
    padding-left: 130px;
}
.resume-box span {
    color: #a0a0a0;
    display: block;
    font-weight: 500;
    padding-bottom: 5px;
}
.post-ver-date {
    bottom: 13px;
    color: #fff;
    left: 15px;
    position: absolute;
    z-index: 9999;
}
 .owl-theme .owl-nav {
    margin-top: 30px;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span, .submit-style {
    background: #141414 none repeat scroll 0 0;
}
.contact-background {
    padding: 100px 0 0;
    margin-bottom: 50px;
}
.contact-info, .contactWrapper {
    padding: 0;
}
.widget{
    background: #fff none repeat scroll 0 0;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    min-height: 200px;
    padding: 26px;
}
.fixed-right-socials {
	bottom: 0;
	position: fixed;
	right: 3px;
	top: 13%;
	z-index: 9;
}
.fixed-right-socials ul {
    list-style: outside none none;
    padding: 0;
}
.fixed-right-socials li {
    margin: 9px 0;
}
.bg-color {
    background: #232323 none repeat scroll 0 0;
    border-radius: 2px;
    color: #fff;
    font-weight: unset;
    line-height: 58px;
    padding: 0 12px;
    position: relative;
    text-transform: uppercase;
}

.list-social-media i {
	border-radius: 25px;
	color: #fff;
	font-size: 18px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	transition: all 300ms ease 0s;
	width: 30px;
}
.list-social-media .fa-facebook {
    background: #2f5a9a none repeat scroll 0 0;
}
.list-social-media .fa-linkedin {
    background: #097fc3 none repeat scroll 0 0;
}
.list-social-media .fa-instagram {
    background: #C13584 none repeat scroll 0 0;
}
.list-social-media .fa-github {
    background: #0e0209 none repeat scroll 0 0;
}
.download-button{
    background-color: #117864;
    color: #fff;
}
.download-button:hover{
    background-color:#fff ;
    color: #000;
}

.txt-type > .txt{
    border-right: 0.2rem solid #777;
}